<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>


                    <h3 class="description">Internal Server Error</h3>
                </div>
            </div>
        </div>


<%- include('../../partials/subFooter.ejs') %>
<%- include('../../partials/footer.ejs') %>

</body>
</html>