<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>


        <div class="container">

            <a href="/post/create" class="btn btn-primary">Create A New Post</a>
            <a href="/auth/allPost" class="btn btn-primary">All Post</a>
            <a href="/auth/allUser" class="btn btn-primary">All User</a>

        </div>
        </div>
        </div>
        </div>


        <%- include('../partials/subFooter.ejs') %>
            <%- include('../partials/footer.ejs') %>

                </body>

                </html>