<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>


        <h3 class="description">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-4">
                        <div class="card card-body">
                            <div class="card-body text-center">Vocabulary</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card card-body">
                            <div class="card-body text-center">Word List Gen.</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card card-body">
                            <div class="card-body text-center">Game</div>
                        </div>
                    </div>

                </div>
            </div>
        </h3>
        </div>
        </div>
        </div>


        <%- include('../partials/subFooter.ejs') %>
            <%- include('../partials/footer.ejs') %>

                </body>

                </html>